/* Stylesheet for the accounts page. This page mainly customizes the buttons on
the accounts page. */

* {
	font-family: 'Montserrat', sans-serif;
}

.account-list {
    text-align: center;
}

h3 {
	text-align: center;
	padding-top: 30px;
	padding-bottom: 50px;
	font-family: 'Montserrat';
}

.navbar-header {
	text-align: center;
	width: 100%;
	padding: 10px;
}

p {
	margin: 10px auto 10px;
}

.child-btn {
	border-radius: 10px;
	margin: 20px;
    padding: 15px;
    width: 80%;
    text-align: center;
		color: white;
		background-color:
}

.logout-btn {
    position: absolute;
    left: 14%;
    bottom: 5%;
    border-radius: 50%;
    height: 70px;
    width: 70px;
		font-size: 12px;
}

.add-btn {
    position: absolute;
    right: 10%;
    bottom: 5%;
    border-radius: 50%;
    height: 70px;
    width: 70px;
		/* background-color: #69CEEC; */
		border: none;
}

.back-btn {
    position: absolute;
    left: 16px;
		margin: 0;
		top: 16px;
}
