/* Stylesheet for the closet page. It customizes the avatar image that is
displayed, the buttons, and the different accessories that are there. */

* {
	font-family: 'Montserrat', sans-serif;
}

h4 {
	text-align: center;
	padding: 10px;
}

.navbar-header {
	text-align: center;
	width: 100%;
	padding: 10px;
}

.back-btn {
    position: absolute;
    left: 10%;
}

.pet-img {
	display: block;
	margin: auto;
	padding: 10px;
	text-align: center;
}

.pet-img img {
	width: 40%;
	height: auto;
}

#pet-img {
	padding-top: 36px;
}

.wrapper {
	/*text-align: center;*/
	justify-content: center;
	padding: 30px;
	margin: 0 auto;
	margin-top: 32px;
	margin-bottom: 32px;
	width: 100%
	display: inline-block;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-column-gap: 20px;
	grid-row-gap: 20px;
}

.item-placeholder {
	justify-content: center;
	/* background-color: lightgray; */
	width: 50px;
	height: 50px;
	margin: 0 auto;
	display: inline-block;
}

.items {
	text-align: center;
	justify-content: center;
	/* background-color: lightgray; */
	line-height: 60px;
	width: 68px;
	height: 68px;
	margin: 0 auto;
	display: inline-block;
}

.item-img {
	justify-content: center;
	/* background-color: lightgray; */
	width: 50px;
	height: 50px;
	margin: 0 auto;
	display: inline-block;
	vertical-align: middle;
}


a {
	text-decoration: none;
	color: initial;
	background-color: lightgray;
}

.btn {
	border-radius: 50px;
	display: inline-block;
	padding-top: 0px;
	padding-bottom: 20px;
}

.button {
	text-align: center;
	border-radius: 50px;
	/*margin: auto;*/
	display: inline-block;
	padding: 0.3em 2em;
	margin: 0px 20px;
}

.selected_btn {
	background-color: lightgray;
	border-radius: 50%;

}
