/* Stylesheet for the habits page. This file mainly customizes the buttons
such as the actual habit button, lock button, add button, and back button */

* {
	font-family: 'Montserrat', sans-serif;
}

.habit-list {
    text-align: center;
}

h3 {
	text-align: center;
	padding-top: 30px;
	padding-bottom: 50px;
	font-family: 'Montserrat';
}

p {
	margin: 10px auto 10px;
}

.habit-btn {
	border-radius: 10px;
	margin: 20px;
    padding: 15px;
    width: 80%;
    text-align: center;
}

.lock-btn {
    position: absolute;
    left: 14%;
    bottom: 5%;
    border-radius: 50%;
    height: 70px;
    width: 70px;
}

.add-btn {
    position: absolute;
    right: 14%;
    bottom: 5%;
    border-radius: 50%;
    height: 70px;
    width: 70px;
}

.back-btn {
    position: absolute;
    left: 10%;

}
